In [1]:
library(tidyverse)
library(cowplot)
library(Seurat)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘cowplot’

The following object is masked from ‘package:ggplot2’:

    ggsave

In [2]:
expression_df <- read_csv('GSE120960_processed_singleCell.csv.gz') %>%
    column_to_rownames('X1')
cell_df <- tibble(Sample=colnames(expression_df))
cell_df %>% separate(Sample, c('Sample', 'Cell', 'Number')) %>% dplyr::count(Sample)

Warning message:
“Missing column names filled in: 'X1' [1]”Parsed with column specification:
cols(
  .default = col_double(),
  X1 = col_character()
)
See spec(...) for full column specifications.

  Sample n
1 Het5   1710
2 Het9   1445
3 WT3    1453
4 WT6    1954